PiSideCode/web_interface/walleye/node_modules/*
PiSideCode/walleye.log*
**/__pycache__
PiSideCode/calibration/Cam_*
PiSideCode/camera/camera_configs/*
profile.html
profile.json
PiSideCode/config.zip

### Gradle ###
.gradle
/build/

## VS Code Java ##
bin/
**/.vscode
PiSideCode/walleye_data/walleye.log
