PiSideCode/web_interface/walleye/node_modules/*
PiSideCode/web_interface/walleye/build/
PiSideCode/walleye.log*
PiSideCode/walleye_data/*
**/__pycache__
PiSideCode/calibration/Cam_*
PiSideCode/camera/camera_configs/*
profile.html
profile.json
PiSideCode/config.zip
PiSideCode/env
### Gradle ###
.gradle
/build/

## VS Code Java ##
bin/
**/.vscode
PiSideCode/walleye_data/walleye.log
