<html>

<head>
    <meta charset="utf-8">
    <title>WallEYE Testing</title>
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/bootstrap.min.css' ) }}>
    <script src={{ url_for('static', filename='bootstrap/js/bootstrap.min.js' ) }}></script>
    <script>
        var data = {
            "clicked": null,
            "tableName": null,
            "teamNum": null,
            "gain": null,
            "exposure": null,
            "resolution": null,
            "camNum": null,
            "page": null,
        }

        function sendData(page) {
            data.page = page;
            fetch('/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data),
            }).then((response) => response.text()).then(function (r) {
                document.open();
                document.write(r);
                document.close();
            });
        }

    </script>
</head>

<body style="text-align: center;">
    <div class="container">
        <h1 class="display-1">WallEYE Testing Interface</h1>
        <ul class="nav nav-tabs sticky-top" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link{% if page == 'dashboard' %} active{% endif %}" id="dashboard-tab" data-bs-toggle="tab"
                    data-bs-target="#dashboard-tab-pane" type="button" role="tab" aria-controls="dashboard-tab-pane"
                    aria-selected="true">Dashboard</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link{% if page == 'config' %} active{% endif %}" id="config-tab" data-bs-toggle="tab" data-bs-target="#config-tab-pane"
                    type="button" role="tab" aria-controls="config-tab-pane" aria-selected="false">Config</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link{% if page == 'camera_config' %} active{% endif %}" id="cameraConfig-tab" data-bs-toggle="tab"
                    data-bs-target="#cameraConfig-tab-pane" type="button" role="tab"
                    aria-controls="cameraConfig-tab-pane" aria-selected="false">Camera Config</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link{% if page == 'calibration_data' %} active{% endif %}" id="calibrationData-tab" data-bs-toggle="tab"
                    data-bs-target="#calibrationData-tab-pane" type="button" role="tab"
                    aria-controls="calibrationData-tab-pane" aria-selected="false">Calibration Data</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade{% if page == 'dashboard' %} show active{% endif %}" id="dashboard-tab-pane" role="tabpanel"
                aria-labelledby="dashboard-tab" tabindex="0">
                {% include "dashboard.html" %}
            </div>
            <div class="tab-pane fade{% if page == 'config' %} show active{% endif %}" id="config-tab-pane" role="tabpanel" aria-labelledby="config-tab" tabindex="0">
                {% include "config.html" %}
            </div>
            <div class="tab-pane fade{% if page == 'camera_config' %} show active{% endif %}" id="cameraConfig-tab-pane" role="tabpanel" aria-labelledby="cameraConfig-tab"
                tabindex="0">
                {% include "camera_config.html" %}
            </div>
            <div class="tab-pane fade{% if page == 'calibration_data' %} show active{% endif %}" id="calibrationData-tab-pane" role="tabpanel"
                aria-labelledby="calibrationData-tab" tabindex="0">
                {% include "calibration_data.html" %}
            </div>
        </div>
    </div>
</body>

</html>